.calculator {
	padding-top: 95px;
	padding-bottom: 180px;
	background-color: #ffffff;
	overflow: hidden;

	&__top {
		text-align: center;
		max-width: 760px;
		margin: 0 auto;
		margin-bottom: 70px;

		p {
			color: #161616;
			font-size: 20px;
			line-height: 32px;
		}
	}

	&__title {
		color      : #161616;
		font-family: "Trajan Pro 3";
		font-size  : 38px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 29px;
		font-weight: 400;
	}

	&__list {
		margin-bottom: 130px;
	}

	&__item {
		// flex-wrap: wrap;
		display: flex;
		align-items: center;
		margin-bottom: 40px;

		&:nth-child(even) {
			.calculator__info {
				order: -1;
				padding-left: 100px;
			}
		}
	}

	&__picture {
		width: 50%;
	}

	&__info {
		width: 50%;

		p {
			font-size: 21px;
			line-height: 36px;
			max-width: 385px;
			font-weight: 500;
		}
	}

	&__number {
		font-size: 50px;
		font-family: "Trajan Pro 3";
		opacity: 0.2;
		margin-bottom: 30px;
	}

	&__answer {
		margin-top: 50px;
		width: 216px;
		height: 43px;
		border-radius: 22px;
		display: flex;
		border: 1px solid #aeaeae;

		input[type=radio] {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}

		input[type=radio]+label {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			transition: color 0.5s ease;
			
			font-size: 18px;
			// background-color: #6f9aff;
			border-radius: 22px;
		}

		input[type=radio]:not(:disabled):not(:checked)+label:hover {
			border: 1px solid #000;
		}

		#answer-1-1:checked+label,
		#answer-2-1:checked+label,
		#answer-3-1:checked+label,
		#answer-4-1:checked+label,
		#answer-5-1:checked+label,
		#answer-6-1:checked+label {
			color: #ffffff;
			background-image: linear-gradient( -90deg, rgb(112,168,255) 0%, rgb(109,140,255) 100%);
		}
		#answer-1-0:checked+label,
		#answer-2-0:checked+label,
		#answer-3-0:checked+label,
		#answer-4-0:checked+label,
		#answer-5-0:checked+label,
		#answer-6-0:checked+label {
			color: #ffffff;
			background-image: linear-gradient( -90deg, rgb(255,112,112) 0%, rgb(255,70,70) 100%);
		}

	}

	&__total-box {
		position: relative;
		z-index: 1;
		margin: 0 auto;
		margin-top: 50px;
		width: 750px;
		height: 320px;
		padding: 70px;

		display: flex;
		align-items: center;

		background: url(../img/background/calc-total-bg.jpg) no-repeat center/cover;
		border-radius: 10px;

		&::after {
			border-radius: 10px;
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		&--alert::after {
			background: rgba(255, 0, 0, 0.65);
		}

		&--warn::after {
			background: rgba(255, 255, 0, 0.6);
		}

		&--succ::after {
			background: rgba(0, 255, 0, 0.4);
		}
	}


	&__final {
		width: 40%;
		// display: flex;
		// justify-content: center;
		// align-items: center;
	}

	&__recomend {
		width: 60%;

		p {
			color: #ffffff;
			font-size: 18px;
			line-height: 30px;
		}
	}

	&__badge {
		width: 160px;
		height: 160px;
		font-size: 25px;
		font-weight: 800;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		border-radius: 50%;
		color: #ffffff;
		background-color: #2b2a29;

		span {
			padding: 5px;
			font-size: 50px;
		}
	}
	
}

@media(max-width:992px) {
	.calculator {
		&__total-box {
			width: 100%;
		}
	}
}

@media(max-width:646px) {
	.calculator {
		padding-bottom: 80px;
		&__item {
			// flex-direction: column;
			flex-wrap: wrap;

			&:nth-child(even) {
				.calculator__info {
					padding-left: 0;
					order: unset;
				}
			}
		}

		&__picture {
			width: 100%;
		}
	
		&__info {
			text-align: center;
			width: 100%;

			p {
				margin: 0 auto;
			}
		}

		&__list {
			margin-bottom: 50px;
		}

		&__answer {
			margin-left: auto;
			margin-right: auto;
		}

		&__total-box {
			padding: 30px;
			text-align: center;
			flex-wrap: wrap;
			height: auto;
		}

		&__final {
			width: 100%;
		}

		&__badge {
			margin: 0 auto;
			margin-bottom: 10px;
		}

		&__recomend {
			width: 100%;
		}

		&__btn {
			margin: 0 auto;
		}
	}
}